.Animes {
    /* padding: 1rem 5rem 3rem 5rem; */
    width: 100%;
    column-count: 4;
    column-width: 25%;
    overflow: hidden;
}

.Anime img {
    max-width: 19vw;
    height: auto;
    object-fit: cover;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 3rem 0 .4rem 0;
}

.Animes img:hover {
    filter: opacity(.6);
    transition: filter .4s ease;
}

@media (max-width: 991px) {
    .Animes {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .Animes {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}