.home-container {
    /* background-color: #FCF5E5; */
    background:
        radial-gradient(circle, transparent 20%, #141414 20%, #141414 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #141414 20%, #141414 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#24242D 4px, transparent 4px) 0 -2px,
        linear-gradient(90deg, #24242D 4px, transparent 4px) -2px 0;
        background-color: #141414;
        background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
      
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    color: #FCF5E5;
    width: 100%;
}

.right-container, .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    /* margin-top: 10vh; */
}

.left-container {
    padding: 10rem 3rem 10rem 17rem;
}

.right-container {
    padding: 10rem 17rem 10rem 3rem;
    align-items: center;
}

.greetings-text {
    font-size: 5rem;
    text-shadow: -1px -1px 0 #FCF5E5, 1px -1px 0 #FCF5E5, -1px 1px 0 #FCF5E5, 1px 1px 0 #FCF5E5;
    text-align: left;
    color: #141414;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.intro-text {
    text-align: left;
    letter-spacing: 2px;
    line-height: 2.4rem;
}
