.project {
    /* -webkit-column-count: 3;
    -moz-column-count: 3; */
    column-count: 4;
    /* -webkit-column-width: 33%;
    -moz-column-width: 33%; */
    column-width: 25%;
    padding: 1rem 5rem 3rem 5rem;
    background-color: #141414;
    overflow: hidden;
}

.project .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 1rem;
    aspect-ratio: 1 / 1;
}

.model img {
    max-width: 55vw;
    height: auto;
    max-height: 95vh;
    object-fit: cover;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
}

.pics:hover {
    filter: opacity(.6);
}

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .9);
    transition: opacity .6s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


.project-tengah {
    display: flex;
    width: 35%;
    flex-direction: column;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    text-align: start;
}

.project-tengah a {
    /* text-decoration: none; */
    margin-top: 1rem;
    color: white;
}

.project-kiri {
    width: 60%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-kanan {
    /* background-color: pink; */
    width: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

.project-kanan svg {
    color: white;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
}

@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}